$TTL    2d
@           IN      SOA     dns1.homelab. root.homelab. (
                        202202081   ; Serial
                        12H         ; Refresh
                        15m         ; Retry
                        1W          ; Expire
                        3H )        ; Negative Cache TTL
;

; NS records for name servers
@           IN      NS      dns.homelab.
@           IN      NS      dns1.homelab.
@           IN      NS      dns2.homelab.

; PTR Records
4.4   IN      PTR     dns.homelab.
{{ ((state == 'MASTER') | ternary(ansible_host, unicast_peer_ip)).split('.')[2:] | join('.') }}   IN      PTR     dns1.homelab.
{{ ((state == 'MASTER') | ternary(unicast_peer_ip, ansible_host)).split('.')[2:] | join('.') }}   IN      PTR     dns2.homelab.
